html {
    box-sizing: border-box;
    font-family: "Nothing You Could Do";
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    background: linear-gradient(to bottom right, #97b3d0, #a7d3ca, #FF77CC, rgb(227, 195, 187));
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2vmin 3vmin;
    color: #999;
  }
  
  .card-container {
    position: relative;
    width: 65vmin;
    height: 80vmin;
  }
  
  .card {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(17, 17, 17, 0.35);
    transition: transform 0.35s ease-out;
    transform: translate(var(--x), var(--y)) scale(0.35) rotate(var(--angle));
    will-change: transform;
  }
  
  
  .card:hover {
    transform: scale(1) rotate(0deg);
    z-index: 1;
  }
  .card:hover:before {
    opacity: 1;
  }
  
  .card:before {
    content: "";
    display: block;
    width: 90%;
    height: 80%;
    margin: 5%;
    background: var(--image) center center no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 5px rgba(34, 34, 34, 0.35);
    border-radius: 2px;
    filter: sepia(0.2) brightness(0.9) contrast(1.2);
    transition: opacity 0.35s ease-out;
    opacity: 0.5;
    will-change: opacity;
  }
  
  .card:after {
    display: block;
    content: var(--caption);
    font-weight: 500;
    color: #555;
    font-size: 3vmin;
    opacity: 0.75;
    text-align: center;
  }
  h1{
    color: beige;
  }
  h2{
    margin-top: 10px;
    text-align: center;
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 600;
    font-size: 125px;
    line-height: 20px;
    color: antiquewhite;
    
  }

  #text{
    padding-top: 0px;
  }
  p{
    width: 500px;
    padding-top: 1px;
    text-align: justify;
    padding-bottom:5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: 0%;
  }